ul.sitemap_html{

}
.maxwidth-theme ul.sitemap_html{ column-count: 2; column-rule: 1px solid #f05600; }
ul.sitemap_html li ul{ margin: 0px 0px 0px 20px; }
ul.sitemap_html li.tipe_ELEMENT{list-style: circle; padding-left: 0px; color: #e66200; margin-left: 20px;}
ul.sitemap_html li.tipe_ELEMENT:before{display: none; }
li.has_child {position: relative;}
li.hide_child > ul.sub_list{display: none;}
li.has_child:after{content: '-'; padding: 0px 15px 0px 0px; cursor: pointer;position: absolute; color: #e66200; font-weight: 600; top: 0;  left: -15px;    font-size: 18px;    line-height: 1.5;}
li.has_child.hide_child:after{content: '+';}
@media all and (max-width:992px){
    .maxwidth-theme ul.sitemap_html{column-count: 1; column-rule: none;}
}